@tailwind base;
@tailwind components;
@tailwind utilities;

.gridcenter{
  display:grid;
  align-items:center;
  justify-items:center;
  justify-content:center;
}



.view{
  min-height:100vh;
}
main{
  /* background-color: #4a8db1; */
}
header{
  background-color: #4a8db1;
  color: white;
  letter-spacing: 2px;
  line-height: 1rem;
}

.content{
  letter-spacing: 2px;
  max-width: 650px;
  margin: 0 auto;
  justify-content: start;
}



/*first section*/

.hero{
  aspect-ratio: 16/9;
  background-image: url("/herobg.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  
}

.hero h1{
  color: white;
  font-size: 3.5rem;
  font-weight: 300;
  letter-spacing: 2px;
  margin-bottom: 0;
}




/*second section*/


.aboutimg{
  max-width:400px;
  max-height:400px;
}
.aboutarticle{
  align-items: center;

}




/*third section*/




.features{
  background-color: #4a8db1;
  color:white;
}
















/* animation section */
@media(prefers-reduced-motion){
  .fadeelement{ transition:none;
  opacity:1;}
}

.fadeleft{
  opacity:0;
  transition: all 1s;
  filter:blur(5px);
  transform:translateX(-100%);
}
.faderight{
  opacity:0;
  transition: all 1s;
  filter:blur(5px);
  transform:translateX(100%);
}

.show{
  opacity:1;
  filter:blur(0px);
  transform: translateX(0);
}

