---
---
<section id="about" class="about gridcenter view mt-10">
  <article class="view text-center fadeleft">
  <figcaption class="text-3xl p-10">Who are we?</figcaption>
    <figure><img class="aboutimg" src="./about4.svg"/></figure>
    </article>

    <article class= "flex aboutarticle fadeleft view">
    <figcaption class="text-3xl p-10 flex-auto">At Cybtech we here flourish on enhancements. We believe the future lies in the ability to process great amounts of information quickly.</figcaption>
    <img class="aboutimg flex-auto p-10" src="./about1.svg"/>
  </article>

    <article class= "flex aboutarticle fadeleft view">
    <figure><img class="aboutimg flex-auto" src="./about3.svg"/></figure>
    <figcaption class="text-3xl p-10 flex-auto">The ability to understand and analyze this data can be enhanced. Leading us to our motto. Enhance this, Enhance that.</figcaption>
  </article>

    <article class= "flex aboutarticle fadeleft view">
    <figcaption class="text-3xl p-10 flex-auto">Why because it always works out.</figcaption>
    <figure><img class="aboutimg flex-auto" src="./about2.svg"/></figure>
  </article>

    <article class= "flex aboutarticle fadeleft view">
    <figure><img class="aboutimg flex-auto" src="./about5.svg"/></figure>
    <figcaption class="text-3xl p-10 flex-auto">The difference between us and the competition? Our non-stop ability to maintain our course through problematic enterprises.</figcaption>
  </article>
</section>