---
---
<section id="contact" class="contact gridcenter view">
  <h3>Contact Us</h3>
  <form class="p-5">
    <p class="mb-2">Please enter your email and a message.</p>
    <input  type="text" name="email" value="email@example.com"/>
    <input  type="text" name="message" value="Your message here"/>
    <button>Submit</button>
</form>
</section>