---
---
<section id="examples" class="examples gridcenter overflow-hidden view">
  <article class="text-2xl">
    <h2>Pick and Choose:</h2>
    <p>Every part will work, guaranteed. Nothing to worry about.</p>
    <p>There is no competition when you are the best.</p>
  </article>

  <section class="flex flex-nowrap overflow-scroll">
    <article class= "flex-auto p-10">
      <figure><img class="aboutimg" src="./arm1.svg"/></figure>
    </article>

    <article class= "flex-auto p-10">
      <figure><img class="aboutimg"  src="./arm2.svg"/></figure>
    </article>

    <article class= "flex-auto p-10">
      <figure><img class="aboutimg" src="./arm3.svg"/></figure>
    </article>
      
    <article class= "flex-auto p-10">
        <figure><img class="aboutimg" src="./leg1.svg"/></figure>
      </article>
  
    <article class= "flex-auto p-10">
      <figure><img class="aboutimg" src="./leg2.svg"/></figure>
      </article>

      <article class= "flex-auto p-10">
          <figure><img class="aboutimg" src="./leg3.svg"/></figure>
        </article>
          
      <article class= "flex-auto p-10">
        <figure><img  class="aboutimg" src="./leg4.svg"/></figure>
      </article>
            
    
            

    </section>
  </section>