---
---
<section id="features" class="features gridcenter grid-cols-3 gap-10 p-10 view">

  <article class="p-10">
    <figure class="mb-10"><img class="aboutimg" src="./example.svg"/></figure>
    <figcaption class="text-2xl">Feature One brings about all the change you would ever need in your life.</figcaption>
  </article>

  <article class="p-10">
    <figure class="mb-10 text-center"><img class="aboutimg" src="./example.svg"/></figure>
    <figcaption class="text-2xl">Feature Two alters your genome to accept everything we can give.</figcaption>
  </article>

  <article class="p-10">
    <figure class="mb-10"><img class="aboutimg" src="./example.svg"/></figure>
    <figcaption class="text-2xl">Feature Three burns out all your neurons. Depleting your mind of all willpower.</figcaption>
  </article>


</section>