---
---
<section id="hero" class="hero grid grid-cols-32 view mb-10">

  <h1 class="text-white text-3xl p-10 fadeleft">Create without limits.</h1>
  <h2 class="text-white text-3xl p-10 fadeleft">Bypass biology.</h2>
  <h2 class="text-white text-2xl p-10 fadeleft">Enter Cybtech.</h3>
</section>
<style>
  section{
    letter-spacing: 2px;
  }
</style>