---
---
<section id="pricing" class="pricing gridcenter view">
  <h2 class="text-3xl">Pricing</h2>
  <section class="grid grid-cols-3 gap-10">

    <article class="border-4 text-center p-10">
      <h3>Tier 1</h3>
      <p>Details about a Tier 1 purchase</p>
      <ul>
        <li>Perk 1</li>
        <li>Perk 2</li>
        <li>Perk 3</li>
      </ul>
      <h2>FREE TIER</h2>
      <button>Purchase</button>
    </article>

    <article class="border-4 text-center p-10">
      <h3>Tier 2</h3>
      <p>Details about a Tier 2 purchase</p>
      <ul>
        <li>Perk 1</li>
        <li>Perk 2</li>
        <li>Perk 3</li>
      </ul>
      <h2>20 years of your life</h2>
      <button>Purchase</button>
    </article>

    <article class="border-4 text-center p-10">
      <h3>Tier 3</h3>
      <p>Details about a Tier 3 purchase</p>
      <ul>
        <li>Perk 1</li>
        <li>Perk 2</li>
        <li>Perk 3</li>
      </ul>
      <h2>Contact Us</h2>
      <button>CONTACT FOR QUOTE</button>
    </article>




  </section>

</section>
