---
import TestimonialCard from "../TestimonialCard.astro";
---
<section id="testimonials" class="testimonials gridcenter overflow-hidden view">
  <h2 class="text-3xl">Hear from our customers!</h2>
  <section class="flex flex-nowrap">

    <TestimonialCard 
       src="./arm1.svg"
       figcaption="We didn't have a chance at world domination until we enhanced our involuntary employees with mental modulators. Thanks to Cybtech we have no fear of retaliation for our actions and our clients are very happy!"
         />

    <TestimonialCard 
        src="./arm1.svg"
        figcaption="We didn't have a chance at world domination until we enhanced our involuntary employees with mental modulators. Thanks to Cybtech we have no fear of retaliation for our actions and our clients are very happy!"
        />
    <TestimonialCard 
        src="./arm1.svg"
        figcaption="We didn't have a chance at world domination until we enhanced our involuntary employees with mental modulators. Thanks to Cybtech we have no fear of retaliation for our actions and our clients are very happy!"
        />

    <TestimonialCard 
        src="./arm1.svg"
        figcaption="We didn't have a chance at world domination until we enhanced our involuntary employees with mental modulators. Thanks to Cybtech we have no fear of retaliation for our actions and our clients are very happy!"
        />

    <TestimonialCard 
        src="./arm1.svg"
        figcaption="We didn't have a chance at world domination until we enhanced our involuntary employees with mental modulators. Thanks to Cybtech we have no fear of retaliation for our actions and our clients are very happy!"
        />



  
  </section>

</section>