---
---
<section id="testimonials" class="testimonials gridcenter view">
  <h2 class="text-3xl">Hear from our customers!</h2>
  <section class="flex flex-nowrap">

  <article class= "flex-auto p-10">
    <figure><img class="aboutimg" src="./leg2.svg"/></figure>
    <figcaption class="text-2xl">Feature Three burns out all your neurons. Depleting your mind of all willpower.</figcaption>
  </article>

  <article class= "flex-auto p-10">
    <figure><img class="aboutimg" src="./leg2.svg"/></figure>
    <figcaption class="text-2xl">Feature Three burns out all your neurons. Depleting your mind of all willpower.</figcaption>
  </article>

  </section>

</section>