---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---

<Header title="New" description="Setup"/>
	<main>
		<section id="hero" class="hero gridcenter">

		</section>
		<section id="about" class="about gridcenter">

		</section>
		<section id="examples" class="examples gridcenter">

		</section>
		<section id="topProducts" class="topProducts gridcenter">
		
		</section>
		<section id="features" class="features gridcenter">

		</section>

	</main>
	<Footer/>
