---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---

<Header title="New" description="Setup"/>
	<main>
		<section id="hero" class="hero grid grid-cols-32 view mb-10">

			<h1 class="text-white text-3xl p-10">Create without limits.</h1>
			<h2 class="text-white text-3xl p-10">Bypass biology.</h2>
			<h3 class="text-white text-3xl p-10">Enter Cybtech.</h3>
		</section>
		<section id="about" class="about gridcenter view mt-10">
			<article>
			<figcaption class="text-3xl p-10">Who are we?</figcaption>
				<figure><img class="aboutimg" src="../public/about4.svg"/></figure>
				</article>
				<article>
				<img class="aboutimg" src="../public/about1.svg"/>
				<p class="text-3xl p-10">At Cybtech we here flourish on enhancements. We believe the future lies in the ability to process great amounts of information quickly.</p>
			  </article>
				
				<img class="aboutimg" src="../public/about2.svg"/>
				<img class="aboutimg" src="../public/about3.svg"/>
				<p class="text-3xl p-10">The ability to understand and analyze this data can be enhanced. Leading us to our motto. Enhance this, Enhance that. Why because it always works out.</p>
				<img class="aboutimg" src="../public/about5.svg"/>
				<p class="text-3xl p-10">The difference between us and the competition? Our non-stop ability to maintain our course through problematic enterprises.</p>
				<img class="aboutimg" src="../public/about4.svg"/>

		</section>
		<section id="examples" class="examples gridcenter view">

		</section>
		<section id="topProducts" class="topProducts gridcenter view">
		
		</section>
		<section id="features" class="features gridcenter view">

		</section>
		<section id="pricing" class="pricing gridcenter view">
		
		</section>
		<section id="contact" class="contact gridcenter view">

		</section>

	</main>
	<Footer/>
