---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---

<Header title="New" description="Setup"/>
	<main>
		<section id="hero" class="hero grid grid-cols-32 view">

			<h1 class="text-white text-3xl p-10">Create without limits.</h1>
			<h2>Bypass biology.</h2>
			<h3></h3>
		</section>
		<section id="about" class="about gridcenter view">
				<h1 class="text-3xl">Who are we?</h1>
				<p>Ceres</p>

		</section>
		<section id="examples" class="examples gridcenter view">

		</section>
		<section id="topProducts" class="topProducts gridcenter view">
		
		</section>
		<section id="features" class="features gridcenter view">

		</section>
		<section id="pricing" class="pricing gridcenter view">
		
		</section>
		<section id="contact" class="contact gridcenter view">

		</section>

	</main>
	<Footer/>
