---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---

<Header title="New" description="Setup"/>
	<main>
		<section id="hero" class="hero grid grid-cols-32 view mb-10">

			<h1 class="text-white text-3xl p-10">Create without limits.</h1>
			<h2 class="text-white text-3xl p-10">Bypass biology.</h2>
			<h3 class="text-white text-3xl p-10">Enter Cybtech.</h3>
		</section>
		<section id="about" class="about gridcenter view mt-10">
			<article class="view text-center">
			<figcaption class="text-3xl p-10">Who are we?</figcaption>
				<figure><img class="aboutimg" src="../public/about4.svg"/></figure>
				</article>

				<article class= "flex aboutarticle">
				<figcaption class="text-3xl p-10 flex-auto">At Cybtech we here flourish on enhancements. We believe the future lies in the ability to process great amounts of information quickly.</figcaption>
				<img class="aboutimg flex-auto p-10" src="../public/about1.svg"/>
			</article>

			  <article class= "flex aboutarticle">
				<figure><img class="aboutimg flex-auto" src="../public/about3.svg"/></figure>
				<figcaption class="text-3xl p-10 flex-auto">The ability to understand and analyze this data can be enhanced. Leading us to our motto. Enhance this, Enhance that.</figcaption>
			</article>

				<article class= "flex aboutarticle">
				<figcaption class="text-3xl p-10 flex-auto">Why because it always works out.</figcaption>
				<figure><img class="aboutimg flex-auto" src="../public/about2.svg"/></figure>
			</article>

				<article class= "flex aboutarticle">
				<figure><img class="aboutimg flex-auto" src="../public/about5.svg"/></figure>
				<figcaption class="text-3xl p-10 flex-auto">The difference between us and the competition? Our non-stop ability to maintain our course through problematic enterprises.</figcaption>
			</article>

				<img class="aboutimg" src="../public/about4.svg"/>

		</section>
		<section id="examples" class="examples gridcenter view">

		</section>
		<section id="topProducts" class="topProducts gridcenter view">
		
		</section>
		<section id="features" class="features gridcenter view">

		</section>
		<section id="pricing" class="pricing gridcenter view">
		
		</section>
		<section id="contact" class="contact gridcenter view">

		</section>

	</main>
	<Footer/>
