---
const today = new Date();
import NavLink from './NavLink.astro';
---

<footer class="gridcenter p-10 bg-slate-200">
	<section class="flex flex-row gap-10 basis-10 text-center">
	<article class="flex-auto">
		<NavLink href="https://github.com/trivial-lore" target="_blank"><img src="/githublogo.svg" alt="github"></NavLink>
	</article>
	<article class="flex-auto" >
		<NavLink href="https://twitter.com/triviallore" target="_blank"><img src="/twitlogo.svg" alt="twitter"></NavLink>
	</article>
	<article class="flex-auto">
		<NavLink href="https://youtube.com/@triviallore" target="_blank"> <img src="/ytlogo.svg" alt="youtube"></NavLink>
	</article>
	<article class="flex-auto">
		<NavLink href="https://discord.gg/dJWz8Fddbv" target="_blank"> <img src="/discordlogo.svg" alt="discord"></NavLink>
	</article>
	
	</section>
	<p class="mt-5">&copy; {today.getFullYear()} Jeff King. All rights reserved.</p>
</footer>