---
import NavLink from './NavLink.astro';

---

<header >
	<nav class="flex flex-row gap-5 justify-center  p-10">
		<NavLink  href="/">Brand</NavLink>
		<NavLink  href="#features">Features</NavLink>
		<NavLink  href="/products">Products</NavLink>
		<NavLink  href="#pricing">About</NavLink>
		<NavLink  href="#contact">Contact</NavLink>
    
	</nav>
</header >
