---
import NavLink from './NavLink.astro';

---

<header >
	<nav>
		<NavLink  href="/">Brand</NavLink>
		<NavLink  href="#features">Features</NavLink>
		<NavLink  href="#topProducts">Best Products</NavLink>
		<NavLink  href="#pricing">About</NavLink>
		<NavLink  href="#contact">Contact</NavLink>
    <NavLink  href="/cart"></NavLink>
	</nav>
</header >
